.navbar__wrapper {
    padding: 1.618em 0 2em;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo {
    display: flex;
    align-items: center;
}

.logo__text {
    letter-spacing: 5px;
    font-weight: 100;
    margin-left: 0.618em;
}

.navbar__auth a:first-child {
    margin-right: 1em;
}

.navbar__user {
    position: relative;
    display: block;
    text-align: center;
}

.navbar__user img {
    display: block;
    cursor: pointer;
    border: 2px solid rgb(181, 153, 235);
}

.navbar__user button {
    padding: 0.618em 0.618em;
}

.navbar__user__dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: #2E204A;
    border: 1px solid #FDACFD;
    box-shadow: 0 3px 12px #362555;
    top: 40px;
    right: 0;
    transition: all 0.25s;
}

.dropped {
    opacity: 1;
    visibility: visible;
}